
@{
    ViewBag.Title = "Index";
}

<h2>THIS IS MY HOME PAGE</h2>

<div class="body-content">
    <h3> This is my content in heading </h3>

</div>
    <p id="para">  MVC provides front and back ends for the database, the user, and the data processing components. The separation of software systems into
    front and back ends simplifies development and separates maintenance.</p>

<style>
    .body-content{
        font-size:20px;
        color:darkred;
        background-color:azure;
        text-align:left;
        font-weight:100;
        border:solid 2px;
        margin:auto;
        padding:4px,2px;
    }
</style>
<script>
    let paragraph = document.getElementById("para")
    paragraph.style.color = "red";

</script>
 

        
        

        
       




