@model List<StronglyType_PartialView.Models.products>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h1>Products</h1>

@{ 
    foreach (var item in Model)
    {
        Html.RenderPartial("_Products_partial_View",item);

    }
}

